/* You can add global styles to this file, and also import other style files */
.isNegative{
    background: url(./assets/down.PNG) 0px 0px no-repeat;
    height: 60px;
    width: 60px;
    margin: 0 0 0 200px;
   }
   .isPositive{
       background: url(./assets/up.PNG);
       height: 60px;
       width: 60px;
       margin: 0 0 0 200px;
   }